/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
  width: 280px;
}

main {
  width: 100%;
}

aside {
  width: 250px;
  padding: 16px;
}

.nav-button {
  color: red;
  background-color: gray;
}

a {
  color: black;
}

button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;

  padding: 16px;
  border-radius: 100px;
  background-color: #FF742B;
}