<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayPao</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_height.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_position.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_typography.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPao.styles.css" asp-append-version="true" />
</head>

<body class="flex">
    <header class="h-screen flex flex-col justify-between">
        <a asp-controller="Home" asp-action="Index" class="p-1 no-underline">
            <div class="flex gap-0.5 items-center">
                <img src="~/images/icon.png" alt="icon" class="icon-theme">
                <h2>Play<span class="text-theme">Pao</span></h2>
            </div>
        </a>

        <nav class="flex flex-col p-1 gap-1">
            <a asp-controller="Home" asp-action="Index" class="flex gap-0.5">
                <i data-lucide="home"></i>
                <span>Home</span>
            </a>
            <a asp-controller="Home" asp-action="Bookmark" class="flex gap-0.5">
                <i data-lucide="bookmark-check"></i>
                <span>Bookmark</span>
            </a>
            <a asp-controller="Home" asp-action="Ticket" class="flex gap-0.5">
                <i data-lucide="ticket-check"></i>
                <span>Ticket</span>
            </a>
            <a asp-controller="Home" asp-action="AboutUs" class="flex gap-0.5">
                <i data-lucide="ellipsis"></i>
                <span>About us</span>
            </a>
            <br>
            <button>Create Event</button>
        </nav>

        <a href="">
            <div class="flex items-center gap-0.5 p-1">
                <img src="https://avatars.githubusercontent.com/u/53619535?v=4" alt="profile" class="rounded-full h-2">
                <p>whyzotee</p>
            </div>
        </a>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PlayPao - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <aside>
        <div class="flex items-center justify-between">
            <p>Upcoming</p>
            <a asp-controller="Home" asp-action="Index" class="text-theme">See All</a>
        </div>
    </aside>

    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>