<div>
    <h1>About us</h1>

    <p>
        Welcome to our community of board game enthusiasts! 🎲This website was created as a space for people who love
        board games to connect, organize events, and discover new friends to play with. We believe that board games are
        more than just games—they are a way to bring people together, share laughter, and create lasting memories.
    </p>

    <br>

    <div class="flex gap-1">
        <img src="~/images/about_us/1.png" alt="preview1" width="100%">
        <img src="~/images/about_us/2.png" alt="preview2" width="100%">
    </div>

    <br>

    <div class="flex gap-1">
        <img src="~/images/about_us/3.png" alt="preview1" width="100%">
        <img src="~/images/about_us/4.png" alt="preview2" width="100%">
    </div>
</div>