@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (Context.Session.GetString("User") != null)
    {
        <div class="mb-2">Hello, <b>@Context.Session.GetString("User")</b>!</div>
        <a asp-controller="Auth" asp-action="Logout">Logout</a>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login">Login</a>
        <a asp-controller="Auth" asp-action="Register">Register</a>
        <a asp-controller="Event" asp-action="CreateEvent">Create Event</a>
    }
    <div style="display: flex;   box-shadow: 0 0 5px rgb(0 0 0 / 0.2); padding: 1rem;">
        <img src="https://i.ytimg.com/vi/N_Fb4x-OAzE/oardefault.jpg" alt=""
            style="height: 110px; width: 200px; border-radius: 8px;  ">
        <div
            style="padding-top: 8px; padding-bottom: 8px; padding-right: 14px; padding-left: 14px; gap: 8px; width: 100%; margin-right: 8px">
            <h5 style="color: #FF742B">Mon Sep 9th 2025 </h5>
            <h3>Remote Design Sprint</h3>
            <p>This course is for UX designers, product managers, service designers and business consultants looking to
                learn how to develop product ideas – fast.</p>
        </div>
        <div class="flex flex-col justify-between items-end">
            <i data-lucide="bookmark"></i>
            <button class="px-2 py-0.5 text-md"
                style="background-color: #FF742B ; color: white ; border-radius: 2rem; ">join</button>
        </div>
    </div>
    <div style="display: flex;   box-shadow: 0 0 5px rgb(0 0 0 / 0.2); padding: 1rem;">
        <img src="https://i.ytimg.com/vi/N_Fb4x-OAzE/oardefault.jpg" alt=""
            style="height: 110px; width: 200px; border-radius: 8px;  ">
        <div
            style="padding-top: 8px; padding-bottom: 8px; padding-right: 14px; padding-left: 14px; gap: 8px; width: 100%; margin-right: 8px">
            <h5 style="color: #FF742B">Mon Sep 9th 2025 </h5>
            <h3>Remote Design Sprint</h3>
            <p>This course is for UX designers, product managers, service designers and business consultants looking to
                learn how to develop product ideas – fast.</p>
        </div>
        <div class="flex flex-col justify-between items-end">
            <i data-lucide="bookmark"></i>
            <button class="px-2 py-0.5 text-md"
                style="background-color: #FF742B ; color: white ; border-radius: 2rem; ">join</button>
        </div>
    </div>
</div>