<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayPao</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_position.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_typography.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPao.styles.css" asp-append-version="true" />
</head>

<body>
    <main role="main" class="relative">
        <a asp-controller="Home" asp-action="Index" style="color: black;">
            <div class="flex absolute top-2 left-2 gap-0.5 button-white px-1 py-0.5 rounded-lg">
                <i data-lucide="arrow-left"></i>
                <span>Back</span>
            </div>
        </a>

        @RenderBody()
    </main>

    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
