* {
  margin: 0;
	padding: 0;
	border: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input[type=text]:focus {
  border: 2px solid #FF742B;
}

.text-theme {
  color: #FF742B;
}

.bg-theme {
  background-color: #FF742B;
}


.button-theme {
  width: 380px;
  color: #FFF;
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 8px;
  background-color: #FF742B;
}

.input-theme {
  width: 360px;
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid #FFF;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.h-screen {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.gap-0.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-8 {
  gap: 8rem;
}

.text-xm {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.underline {
  text-decoration: underline;
}